.DS_Store
# Ignore all Conda environments

.conda/
# Ignore the myenv folder
/myenv/
#ignore the models
data_moods.json
ebmp/
.cache
api.py
json_conv.py
practice.py
.ipynb_checkpoints/
requirements.txt





